dev/src/main/resources/boot/OD/NewCollection.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="NewCollection">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="xs:string"/>
				<xs:element name="Type">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Dependency"/>
							<xs:enumeration value="Aggregation"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>	
		</xs:complexType>
	</xs:element>
</xs:schema>