dev/src/main/resources/boot/OD/NewCollection_0.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:element name='NewCollection'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='Name' type='xs:string' minOccurs='1' maxOccurs='1' />
        <xs:element name='Type' minOccurs='1' maxOccurs='1'>
          <xs:simpleType>
            <xs:restriction base='xs:string'>
              <xs:enumeration value='Dependency' />
              <xs:enumeration value='Aggregation' />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>