testing/src/main/resources/org/cristalise/testing/resources/boot/OD/Patient_UrinSample.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:element name='UrinSample'>
    <xs:complexType>
      <xs:all minOccurs='0'>
        <xs:element name='Transparency' minOccurs='1' maxOccurs='1'>
          <xs:simpleType>
            <xs:restriction base='xs:string'>
              <xs:enumeration value='clear' />
              <xs:enumeration value='clouded' />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name='Color' type='xs:string' minOccurs='1' maxOccurs='1' />
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>