testing/src/main/resources/org/cristalise/testing/resources/boot/OD/XPathOutcomeInitTest_Details_0.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Fields">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Field">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FieldName" type="xs:string"/>
							<xs:element name="FieldValue" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="slotID" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>