dsl/src/main/kernel-module/resources/boot/OD/BulkAddMembers_0.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:element name='BulkAddMembers'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='Member' minOccurs='0' maxOccurs='unbounded'>
          <xs:complexType>
            <xs:sequence>
              <xs:element name='param' type='xs:string' minOccurs='0' maxOccurs='unbounded' />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>