dsl/src/main/kernel-module/resources/boot/OD/RoleDesc_Details_0.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:element name='RoleDesc_Details'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='Name' type='xs:string' minOccurs='1' maxOccurs='1' />
        <xs:element name='JobList' type='xs:boolean' default='false' minOccurs='1' maxOccurs='1' />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>