xpath-outcome-initiator/src/test/data/CounterID.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="CounterID">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ID" type="xs:string" />
                <xs:element name="LastCount" type="xs:integer" default="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
